In [1]:
import sqlite3
import pandas as pd

In [3]:
pth = '/Users/aditya/datascience-projects/pitch-miles/data/final_data.csv'
data = pd.read_csv(pth)

In [4]:
matches_path = '/Users/aditya/datascience-projects/pitch-miles/data/final_data.csv'
matches = pd.read_csv(matches_path)

In [5]:
data

,Unnamed: 0,league,date,home_team,away_team,home_score,away_score,season,home_latitude,home_longitude,away_latitude,away_longitude,distance_km,prev_match_date,days_rest
0,994,Premier League,2014-09-13,Arsenal,Manchester City,2.0,2.0,2014,51.5550,-0.1086,53.4831,-2.2004,256.874334,2014-09-13,-
1,1786,Premier League,2014-09-27,Arsenal,Tottenham,1.0,1.0,2014,51.5550,-0.1086,51.6043,-0.0665,6.205974,2014-09-27,14.0
2,1206,Premier League,2014-11-22,Arsenal,Manchester United,1.0,2.0,2014,51.5550,-0.1086,53.4631,-2.2913,258.502475,2014-11-22,56.0
3,1772,Premier League,2014-12-13,Arsenal,Newcastle United,4.0,1.0,2014,51.5550,-0.1086,54.9756,-1.6216,393.413858,2014-12-13,21.0
4,619,Premier League,2015-01-02,Arsenal,Aston Villa,5.0,0.0,2014,51.5550,-0.1086,52.5092,-1.8840,161.263694,2015-01-02,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847,859,Premier League,2023-04-26,West Ham,Liverpool,1.0,2.0,2022,51.5386,-0.0174,53.4308,-2.9608,289.770689,2023-04-26,10.0
1848,1245,Premier League,2023-05-04,West Ham,Newcastle United,1.0,5.0,2022,51.5386,-0.0174,54.9756,-1.6216,396.767113,2023-05-04,8.0
1849,1146,Premier League,2023-07-05,West Ham,Manchester United,1.0,0.0,2022,51.5386,-0.0174,53.4631,-2.2913,263.570744,2023-07-05,62.0
1850,1614,Premier League,2023-11-02,West Ham,Chelsea,1.0,1.0,2022,51.5386,-0.0174,51.4816,-0.1910,13.583371,2023-11-02,120.0
1851,721,Premier League,2023-12-03,West Ham,Aston Villa,1.0,1.0,2022,51.5386,-0.0174,52.5092,-1.8840,167.201128,2023-12-03,31.0

In [6]:
matches

,Unnamed: 0,league,date,home_team,away_team,home_score,away_score,season,home_latitude,home_longitude,away_latitude,away_longitude,distance_km,prev_match_date,days_rest
0,994,Premier League,2014-09-13,Arsenal,Manchester City,2.0,2.0,2014,51.5550,-0.1086,53.4831,-2.2004,256.874334,2014-09-13,-
1,1786,Premier League,2014-09-27,Arsenal,Tottenham,1.0,1.0,2014,51.5550,-0.1086,51.6043,-0.0665,6.205974,2014-09-27,14.0
2,1206,Premier League,2014-11-22,Arsenal,Manchester United,1.0,2.0,2014,51.5550,-0.1086,53.4631,-2.2913,258.502475,2014-11-22,56.0
3,1772,Premier League,2014-12-13,Arsenal,Newcastle United,4.0,1.0,2014,51.5550,-0.1086,54.9756,-1.6216,393.413858,2014-12-13,21.0
4,619,Premier League,2015-01-02,Arsenal,Aston Villa,5.0,0.0,2014,51.5550,-0.1086,52.5092,-1.8840,161.263694,2015-01-02,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847,859,Premier League,2023-04-26,West Ham,Liverpool,1.0,2.0,2022,51.5386,-0.0174,53.4308,-2.9608,289.770689,2023-04-26,10.0
1848,1245,Premier League,2023-05-04,West Ham,Newcastle United,1.0,5.0,2022,51.5386,-0.0174,54.9756,-1.6216,396.767113,2023-05-04,8.0
1849,1146,Premier League,2023-07-05,West Ham,Manchester United,1.0,0.0,2022,51.5386,-0.0174,53.4631,-2.2913,263.570744,2023-07-05,62.0
1850,1614,Premier League,2023-11-02,West Ham,Chelsea,1.0,1.0,2022,51.5386,-0.0174,51.4816,-0.1910,13.583371,2023-11-02,120.0
1851,721,Premier League,2023-12-03,West Ham,Aston Villa,1.0,1.0,2022,51.5386,-0.0174,52.5092,-1.8840,167.201128,2023-12-03,31.0

In [12]:
# connect to sql database
conn = sqlite3.connect('/Users/aditya/datascience-projects/soccer-analysis/sql/football.db')

In [11]:
# convert data to sql
data.to_sql('raw_data', conn, if_exists='replace', index=False)

# check
print("âœ… 'final_data.csv' successfully imported into 'football.db' as table 'final_data'.")

âœ… 'final_data.csv' successfully imported into 'football.db' as table 'final_data'.